body {
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

header {
  color: #ccc;
  font-size: 2em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.repo-link {
  color: #666;
  text-decoration: none;
}

.repo-link:hover {
  color: #333;
}

.config {
  display: flex;
}

@media (min-width: 500px) {
  .config {
    position: absolute;
    right: 8px;
    top: 8px;
    flex-direction: column;
    text-align: right;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0.5em 0;
}

@media (min-width: 500px) {
  .content {
    flex-direction: row;
  }
}

.content__textarea {
  font-family: 'Fira Code', monospace;
  resize: none;
  flex: 1;
}
